
<form action="/figures" method="post" >
    <label for="figure_name">Figure Name:</label>
    <input type="text" name="figure[name]" id="figure_name" /> 
    <br />
    <% Title.all.each do |title| %>
        <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id%>" value="<%= title.id %>" />
        <label for="title_id"><%= title.name%></label>
        <br />
    <% end %>
    <br />
    <% Landmark.all.each do |landmark| %>
        <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>" />
        <label for="landmark_<%= landmark.id %>"><%= landmark.name%></label>
        <br />
    <% end%>
    <label for="new_landmark">Landmark Name</label>
     <input type="text" name="landmark[name]" id="new_landmark" />
     <label for="new_title">Title Name: </label>
    <input type="text" name="title[name]" id="new_title" />
    <input type="submit" name="submit" value="Create New Figure" />

</form>